*{
    box-sizing: border-box;
    margin: 0px;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}


.btn{
    padding: 10px;
    font-size: 1.5em;
    min-width: 100px;
    margin-right: 10px;

    border: none;
}

.btn-increment{
    background-color: lightgreen;
}

.btn-decrement{
    background-color: lightsalmon;;
}

.danger{
    color: dodgerblue;
    /* color: red; */
    /* background-color: rgb(46, 43, 43); */
}

.warning{
    display: block;
    color: red;
    font-size: 1.5em;
    margin: 10px;
    text-transform: capitalize;
}